In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## 2024 Company Revenues

In [7]:
URL = "https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue"
page = requests.get(URL).text

soup = BeautifulSoup(page, "html.parser")

In [8]:
results = soup.find(id = "mw-content-text")

In [21]:
table = results.find("table")

In [42]:
df_2024 = pd.DataFrame(columns=['Company_Name', 'Industry', 'Revenue ($ million)', 'Headquarters'])

for row in table.tbody.find_all('tr'):    
    columns = row.find_all('td')
    
    if(columns != []):
        company_name = columns[0].text.strip()
        industry = columns[1].text.strip()
        revenue = columns[2].text.strip()
        hq = columns[5].text.strip()
        
        new_row = pd.DataFrame([{
                'Company_Name': company_name,
                'Industry': industry,
                'Revenue ($ million)': revenue,
                'Headquarters': hq
                }])

        df_2024 = pd.concat([df_2024, new_row], ignore_index=True)

In [43]:
df_2024['Revenue ($ million)'] = df_2024['Revenue ($ million)'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype('float')

In [45]:
df_2024.loc[df_2024['Company_Name'] == 'Enel', 'Revenue ($ million)'] = 147100

In [46]:
df_2024

,Company_Name,Industry,Revenue ($ million),Headquarters
0,Walmart,Retail,648125.0,United States
1,Amazon,Retail information technology,574785.0,United States
2,State Grid Corporation of China,Electricity,545948.0,China
3,Saudi Aramco,Oil and gas,494890.0,Saudi Arabia
4,China Petrochemical Corporation,Oil and gas,429700.0,China
5,China National Petroleum Corporation,Oil and gas,476000.0,China
6,Vitol,Commodities,400000.0,Switzerland
7,Apple,Information technology,383285.0,United States
8,UnitedHealth Group,Healthcare,371622.0,United States
9,Berkshire Hathaway,Financials,364482.0,United States
10,CVS Health,Healthcare,357776.0,United States
11,Volkswagen Group,Automotive,348408.0,Germany
12,ExxonMobil,Oil and gas,344582.0,United States
13,Shell,Oil and gas,323183.0,United Kingdom
14,China State Construction Engineering,Construction,320431.0,China
15,Toyota,Automotive,312018.0,Japan
16,McKesson,Healthcare,308951.0,United States
17,Alphabet,Information technology,307394.0,United States
18,Cencora,Healthcare,262173.0,United States
19,Microsoft,Information technology,245122.0,United States
20,Trafigura,Commodities,244280.0,Singapore
21,Costco,Retail,242290.0,United States
22,JPMorgan Chase,Financials,239425.0,United States
23,Industrial and Commercial Bank of China,Financials,222484.0,China
24,TotalEnergies,Oil and gas,218945.0,France
25,Glencore,Commodities,217829.0,Switzerland
26,BP,Oil and gas,213032.0,United Kingdom
27,Cardinal Health,Healthcare,205012.0,United States
28,Stellantis,Automotive,204908.0,Netherlands
29,Chevron,Oil and gas,200949.0,United States
30,China Construction Bank,Financials,199826.0,China
31,Samsung Electronics,Electronics,198257.0,South Korea
32,Foxconn,Electronics,197876.0,Taiwan
33,Cigna,Healthcare,195265.0,United States
34,Agricultural Bank of China,Financials,192398.0,China
35,Schwarz Gruppe,Retail,180576.0,Germany
36,China Railway Engineering Corporation,Construction,178563.0,China
37,Cargill,Conglomerate,177000.0,United States
38,Ford Motor Company,Automotive,176191.0,United States
39,Bank of China,Financials,172328.0,China
40,Bank of America,Financials,171912.0,United States
41,General Motors,Automotive,171842.0,United States
42,Elevance Health,Healthcare,171340.0,United States
43,BMW Group,Automotive,168103.0,Germany
44,Tata Group,Conglomerate,165500.0,India
45,Mercedes-Benz Group,Automotive,165638.0,Germany
46,China Railway Construction Corporation,Construction,160847.0,China
47,Baowu,Steel,157216.0,China
48,Citigroup,Financials,156820.0,United States
49,Enel,Energy,147100.0,Italy

## 2004 Company Revenues

In [47]:
URL = "https://fortune.com/ranking/global500/2004/"
page = requests.get(URL).text

soup = BeautifulSoup(page, "html.parser")

In [48]:
results = soup.find(id = "search-section")

In [49]:
table = results.find("table")

In [51]:
# Industry and Headquarters filled in after research
df_2004 = pd.DataFrame(columns=['Company_Name', 'Industry', 'Revenue ($ million)', 'Headquarters'])

for row in table.tbody.find_all('tr'):    
    columns = row.find_all('td')
    
    if(columns != []):
        company_name = columns[1].text.strip()
        revenue = columns[2].text.strip()
        
        new_row = pd.DataFrame([{
                'Company_Name': company_name,
                'Revenue ($ million)': revenue,
                }])

        df_2004 = pd.concat([df_2004, new_row], ignore_index=True)

In [55]:
df_2004 = df_2004.loc[:49]

In [59]:
df_2004['Revenue ($ million)'] = df_2004['Revenue ($ million)'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype('float')

/var/folders/66/2ngcvthx6wd0p2zngc0bcw3h0000gn/T/ipykernel_34462/1882919844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2004['Revenue ($ million)'] = df_2004['Revenue ($ million)'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype('float')

In [60]:
df_2004

,Company_Name,Industry,Revenue ($ million),Headquarters
0,Walmart,NaN,263009.0,NaN
1,BP p.l.c.,NaN,232571.0,NaN
2,Exxon Mobil,NaN,222883.0,NaN
3,Shell,NaN,201728.0,NaN
4,General Motors,NaN,195324.0,NaN
5,Ford Motor,NaN,164505.0,NaN
6,DaimlerChrysler AG,NaN,156602.2,NaN
7,Toyota Motor,NaN,153111.0,NaN
8,General Electric,NaN,134187.0,NaN
9,TotalEnergies,NaN,118441.4,NaN
10,Allianz,NaN,114949.9,NaN
11,ChevronTexaco Corporation,NaN,112937.0,NaN
12,AXA,NaN,111912.2,NaN
13,ConocoPhillips,NaN,99468.0,NaN
14,Volkswagen,NaN,98636.6,NaN
15,Nippon Telegraph and Telephone,NaN,98229.1,NaN
16,ING Group,NaN,95893.3,NaN
17,Citigroup,NaN,94713.0,NaN
18,IBM,NaN,89131.0,NaN
19,AIG,NaN,81303.0,NaN
20,Siemens,NaN,80501.0,NaN
21,Carrefour,NaN,79773.8,NaN
22,Hitachi,NaN,76423.3,NaN
23,HP,NaN,73061.0,NaN
24,"Honda Motor Co., Ltd.",NaN,72263.7,NaN
25,McKesson,NaN,69506.1,NaN
26,United States Postal Service,NaN,68529.0,NaN
27,Verizon Communications,NaN,67752.0,NaN
28,Assicurazioni Generali,NaN,66754.9,NaN
29,Sony,NaN,66365.7,NaN
30,"Matsushita Electric Industrial Co., Ltd.",NaN,66218.4,NaN
31,"Nissan Motor Co., Ltd.",NaN,65771.1,NaN
32,Nestlé,NaN,65414.6,NaN
33,Home Depot,NaN,64816.0,NaN
34,Berkshire Hathaway,NaN,63859.0,NaN
35,Nippon Life Insurance,NaN,63840.7,NaN
36,Koninklijke Ahold N.V.,NaN,63455.8,NaN
37,Deutsche Telekom,NaN,63195.5,NaN
38,Altria Group,NaN,60704.0,NaN
39,Metro,NaN,60656.9,NaN
40,Aviva,NaN,59719.4,NaN
41,ENI SpA,NaN,59304.4,NaN
42,Credit Suisse Group,NaN,58957.1,NaN
43,State Grid Corporation of China,NaN,58348.0,NaN
44,HSBC Holdings,NaN,57608.0,NaN
45,BNP Paribas,NaN,57271.8,NaN
46,Vodafone Group,NaN,56844.5,NaN
47,Cardinal Health,NaN,56829.5,NaN
48,Fortis SA/NV,NaN,56695.2,NaN
49,China National Petroleum,NaN,56384.5,NaN

In [57]:
df_2024.to_csv("revenues_2024.csv")

In [61]:
df_2004.to_csv("revenues_2004.csv")